/*
 * Linkate Posts
 */

input.reset {
    all: unset;
}

.linkateposts-admin-flex {
    display: flex;
    margin-right: 21px;
    flex-wrap: nowrap;
    align-content: stretch;
}

/*.linkateposts-admin-flex .wrap {
    margin-right:0;
}*/

.linkateposts-tab-content {
    margin-top: 0px;
    border-top: none;
    min-width: 500px;


}

.linkateposts-tabs-menu li a {
    font-size: 14px;
    text-decoration: none;
    padding: 8px 12px;
    font-weight: 500;
    color: #999;
    box-sizing: content-box;
    text-transform: uppercase;
}

.linkateposts-tabs-menu li a:hover {
    border: none;
    border-top: 4px solid #FFC618;
    color: #23282d;
}

.linkateposts-tabs-menu li a:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
}

.linkateposts-tabs-menu li a.current {
    color: #23282d;
    border-top: 4px solid #FFC618;
}

/* .linkateposts-tabs-menu li a[href*="output_block"]:after {
    content: url("../img/new.png");
    zoom: 0.7;
    margin-left: 10px;
} */


.linkateposts-inner-table {
    border-spacing: 0;
    border-collapse: collapse;
}


.linkateposts-inner-table tr td {
    border: 1px solid #CCC;
    padding: 5px;
}

.linkateposts-tab-content .form-table tr td:nth-child(3) {
    text-align: right;
}

.linkateposts-tab-content .button-cherry {
    background: #e43839;
    border-color: #c42e2f #b42122 #b42122;
    box-shadow: 0 1px 0 #b42122;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #b42122, 1px 0 1px #b42122, 0 1px 1px #b42122, -1px 0 1px #b42122;
}

.linkateposts-tab-content .button-cherry:hover {
    background: #ff3e42;
    border-color: #b42122;
    color: white;
}

.linkateposts-tab-content .button-cherry:focus {
    border-color: #c42e2f #b42122 #b42122;
    box-shadow: 0 1px 0 #b42122;
    background: white;
    color: #c42e2f;
}

.linkate-cover-tab {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 999;
}

#cherry {
    position: absolute;
    right: 100px;
    top: 67px;
}

.linkateposts-column-left textarea {
    width: 100%;
}

.column-left-export textarea {
    width: 100%;

}

.column-left-export {
    padding: 1em;
    background: rgba(57, 210, 255, 0.16);
    margin-bottom: 10px;
}

.column-right-export {
    padding: 1em;
    background: navajowhite;
}

.linkateposts-admin-sidebar {
    flex-grow: 1;
    max-width: 300px;
    min-width: 250px;
}

.linkateposts-admin-sidebar>div.sb-info {
    padding: 1em;
    background: lavender;
    border: 1px solid #dcdcdc;
    margin-top: 1em;
}

.linkateposts-admin-sidebar>div.sb-news {
    padding: 1em;
    background: white;
    border: 1px solid #dcdcdc;
    border-top: 3px solid #e43839;
    margin-top: 1em;
}

.linkateposts-admin-sidebar img {
    width: 100%;
}


.linkateposts-admin-sidebar iframe {
    width: 100%;
}

.linkateposts-accessibility-good,
.linkateposts-accessibility-warning {
    padding: 1em;
    color: white;
}

.linkateposts-accessibility-good h2,
.linkateposts-accessibility-warning h2 {
    color: white;
    margin-top: 0;
}

.linkateposts-accessibility-good a,
.linkateposts-accessibility-warning a {
    color: #66bce4;
}

.linkateposts-accessibility-good {
    background: green;
}

.linkateposts-accessibility-warning {
    background: tomato;
}

#hash_field {
    display: block;
    width: 100%;
}

#reindex_progress {
    display: none;
}
#link_check_progress,
#csv_progress {
    display: none;
}

#reindex_progress_text {
    font-weight: bold;
}

progress {
    width: 100%;
    height: 30px;
    margin: 10px 0;
}

.linkate-available-tags {
    list-style-type: none;
}

.linkate-available-tags li {
    display: inline-block;
}

.button-download {
    background: #00ba1f !important;
    border-color: #01ad1e #039b1c #039b1c !important;
    box-shadow: 0 1px 0 #039b1c !important;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: 0 -1px 1px #039b1c, 1px 0 1px #039b1c, 0 1px 1px #039b1c, -1px 0 1px #039b1c !important;
}

/* ToolTip */
/* Tooltip container */
.cherry-adm-tooltip {
    position: relative;
    display: inline-block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.cherry-adm-tooltip:hover {
    cursor: pointer;
}


/* Spoiler */
input[id^="spoiler"] {
    display: none;
}

input[id^="spoiler"]+label {
    display: inline-block;
    padding: 5px 20px;
    margin: 0 auto;
    background: white;
    color: black;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: all .6s;
    /* height: 30px; */
    /* line-height: 30px; */
}

input[id^="spoiler"]:checked+label {
    color: #333;
    background: #ccc;
}

input[id^="spoiler"]~[class^="spoiler"] {
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: all .6s;
}

input[id^="spoiler"]:checked+label+[class^="spoiler"] {
    height: auto;
    overflow: visible;
    opacity: 1;
    margin: 10px auto 0;
    padding: 10px;
}

.index-stopsugg-add:hover {
    cursor: pointer;
    background: rgba(255, 57, 57, 0.44);
}

#index_stopwords_suggestions {
    padding: 10px;
    margin-top: 20px;
    max-width: 500px;
    background: lavender;
    display: none;
}

.linkate-get-addon {
    margin-top: 10px;
    text-align: center;
}

.linkate-get-addon>a {
    padding: 10px;
    background: #e43839;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    display: inline-block;
    border-radius: 3px;
}

.linkate-get-addon>a:hover {
    padding: 10px;
    background: rgba(228, 56, 57, 0.69);
    font-size: 20px;
    /*font-weight: bolder;*/
    color: #e0e0e0;
    display: inline-block;
}

.crb-addon-info {
    list-style: disc;
}

.crb-addon-info li {
    margin-left: 10px;
}

.cherry-db-status {
    background: lavender;
    padding: 5px 5px 5px 15px;
    position: relative;
}

.cherry-db-status .cherry-adm-tooltip {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.cherry-db-status .cherry-adm-tooltip .tooltiptext {
    bottom: -300px;
}

.cherry_db_status_good {
    color: green;
    font-weight: bold;
}

.cherry_db_status_bad {
    color: tomato;
    font-weight: bold;
}

code.bad-index {
    background: white;
    color: #eda318;
}

code.good-index {
    background: white;
    color: rgb(98, 198, 17);
}

.cherry-stats-preview-table {
    width: 100%;
}

.cherry-stats-preview-table td {
    overflow-wrap: anywhere;
    border: 1px solid lightgrey;
    padding: 5px;
    min-width: 80px;
}

.cherry-stats-preview-table td:first-child,
.cherry-stats-preview-table td:last-child {
    width: 80px;
    text-align: center;
}

/* plugin update warning */
.plugin-update-warning {
    display: none;
    border: 3px solid orange;
    margin: 10px 0;
    padding: 10px;
    background: antiquewhite;
    font-weight: 700;
}