/* Оформление блока ссылок
    Важно! Не изменяйте этот файл - при обновлении плагина все изменения пропадут.
    Добавляйте свои стили в файлы дочерней темы.
 */

.crb-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-auto-flow: row !important;
    grid-auto-rows: auto !important;
    grid-column-gap: 20px !important;
    grid-row-gap: 15px !important;
}

.crb-item-container {
    height: 320px !important;
    position: relative !important;
    overflow: hidden !important;
    padding: 3px !important;
    box-shadow: 0px 0px 1px 0 #8080805e !important;
}

.crb-item-container:hover {
    box-shadow: 0px 0px 3px 0px #00000091 !important;
    cursor: pointer !important;
}

.crb-item-container > a {
    display: block !important;
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    color: #2b68a8 !important;
}

.crb-item-container img {
    height: 70% !important;
    width: 100% !important;
    object-fit: cover !important;
}
.crb-item-container p {
    position: absolute !important;
    max-height: 90px !important;
    line-height: 30px !important;
    word-break: break-word !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    padding: 5px 10px !important;
    font-size: 18px !important;
    display: block !important;
    align-items: flex-end !important;
    font-weight: bold !important;
    color:black !important;
}


.crb-header {
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 20px !important;
    margin-bottom: 20px !important;
    display: block !important;
}

@media screen and (max-width: 40em) {
    .crb-container {
        grid-template-columns: 1fr !important;
        grid-auto-flow: row !important;
        grid-auto-rows: auto !important;
        grid-column-gap: 0 !important;
        grid-row-gap: 15px !important;
    }
}

